* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Gilroy";
    overflow: hidden;
}

a {
    text-decoration: none;
    color: #fff;
}

.screen-one, .screen-two, .screen-three {
    height: 100vh;
}
