.screen-one {
    background: rgb(27, 51, 121);
    background: linear-gradient(47deg, rgba(27, 51, 121, 1) 0%, rgba(47, 103, 184, 1) 100%);
    height: 100vh;
    width: 100%;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    .bg {
        position: absolute;
        top: 6%;
        left: 27%;
        z-index: 1;
    }
    .info {
        position: absolute;
        width: 300px;
        height: fit-content;
        top: 18%;
        left: 17%;
        z-index: 2;
        color: white;
        .title {
            font-size: 56px;
            line-height: 1.4em;
            font-weight: bold;
        }
        .title-info {
            margin-top: 20px;
            width: 100px;
            width: fit-content;
            word-wrap: break-word;
            text-align: left;
            font-size: 16px;
            line-height: 1.4em;
        }
        .btn-screen-one{
            width: 280px;
            height: 38px;
            border: none;
            border-radius: 20px;
            border: 2px solid white;
            background-color: transparent;
            font-size: 18px;
            font-weight: bold;
            color: white;
            margin-top: 30px;
            transition: 300ms ease;
            cursor: pointer;
        }
        .btn-screen-one:hover{
            background-color: white;
            border: 2px solid rgb(255, 255, 255);
            color: rgb(27, 51, 121);
        }
    }
    .footer-elems {
        display: flex;
        align-self: flex-end;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100vw;
        margin: 0 auto;
        height: 33%;
        z-index: 3;
        .left {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 46%;
            background-color: #f7f6f7;
            height: 76%;
            padding: 35px;
            display: flex;
            align-items: center;
            .arrows {
                display: flex;
                align-items: center;
                width: fit-content;
                height: fit-content;
                position: absolute;
                top: -45px;
                right: 0;
                .iconf-cont {
                    width: 45px;
                    height: 45px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #2b6fcf;
                    img {
                        width: 24px;
                        height: 24px;
                        filter: invert(100);
                    }
                }
            }
            .left-p {
                .title {
                    font-size: 22px;
                    font-weight: bold;
                }
                .info-title {
                    width: 300px;
                    margin-top: 10px;
                    font-size: 15px;
                    line-height: 1.4em;
                }
            }
            .left-img {
                background-color: red;
                .footer-img {
                    position: absolute;
                    height: 230px;
                    top: 10px;
                    right: 16%;
                }
            }
        }
        .block {
            padding: 40px;
            color: white;
            .title {
                font-size: 24px;
                font-weight: bold;
                margin-bottom: 20px;
            }
            .block-info {
                width: 80%;
                font-size: 14px;
            }
        }
        .center {
            position: absolute;
            bottom: 0;
            left: 46%;
            width: 27%;
            background-color: #9b1b9b;
            background: rgb(39, 37, 39);
            background: linear-gradient(47deg, rgba(39, 37, 39, 1) 0%, rgba(4, 0, 1, 1) 100%);
            height: 110%;
        }
        .right {
            position: absolute;
            left: 73%;
            bottom: 0;
            width: 27%;
            height: 110%;
            background: rgb(65,135,217);
            background: linear-gradient(47deg, rgba(65,135,217,1) 0%, rgba(67,133,213,1) 100%);
        }
    }
}
